# dependencies
node_modules/

# build artifacts
dist/
dist-native/
build/
bin/
out/
web-build/
.next/
.turbo/
.expo/
*.log

# secrets
.env
.env.local
.env.*.local

# system files
.DS_Store
Thumbs.db

# ignore local dev tools
.vscode/
.idea/
*.swp
*.swo

# package manager
yarn.lock
package-lock.json
pnpm-lock.yaml
